/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}


img,
picture {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}

/* Global */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  color: #3e4e57
}

body {
  font-family: 'Manrope', sans-serif;
  color: #3e4e57
}

textarea {
  resize: none;
}

/* Header */
nav img {
  width: 200px;
  height: auto;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: transparent;
  position: absolute;
  width: 100%;
}

nav p {
  font-style: italic;
  color: #5f666e;
  font-size: 14px;
}

#nav-container {
  display: flex;
  align-items: center;
}

#navlink {
  margin-right: 60px;
  font-family: 'Manrope', sans-serif;
}


/* Home */
#banner {
  background-image: url('./assests/background.jpg');
  height: 100vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 150px;
}

#header {
  margin-left: 50px;
  margin-bottom: 60px;
}

#header h1 {
  font-size: 90px;
  line-height: 85px;
}

#header p {
  margin-top: 40px;
  font-size: 23px;
}

#header button {
  background-color: transparent;
  border: 2px solid #4d626d;
  color: #4d626d;
  border-radius: 40px;
  padding: 10px 30px;
  font-weight: 700;
  margin-top: 40px;
  cursor: pointer;
}

#header button:hover {
  background-color: #4d626d;
  border: 2px solid #4d626d;
  color: #eaeaef;
}

#header button:active {
  background-color: #9499a4;
  border: 2px solid #9499a4;
  color: #eaeaef;
}

#view-button {
  margin-left: 30px;
}

#buttons {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.sort-button {
  width: 150px;
  height: 150px;
  background: rgba( 255, 255, 255, 0.2 );
  box-shadow: 0 8px 32px 0 rgb(77,98,109, 0.37);
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  margin-right: 50px;
  cursor: pointer;
  border: none;
  text-align: center;
  font-weight: 800;
  color: #3e4e57;
}

a:not(:first-child) {
  margin-top: 20px;
}

.sort-button:hover {
  background: #3e4e57;
  color: #eaeaef;
}

.sort-button:active {
  background: #5f666e;
}

#itinerary-list {
  background-color: #eaeaef;
  padding: 10%;
}

/* Individual Itinerary Blocks */
.itinerary-container {
  background-color: #f7f7f9;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.itinerary-container:not(:first-child) {
  margin-top: 10%;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: #4d626d;
  border-radius: 50px 50px 0 0;
}

.header h3 {
  color: #eaeaef;
}

.detail-container {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.detail {
  flex-basis: 25%;
}

.detail h4 {
  text-align: center;
  margin-bottom: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  text-decoration: underline;
}

ul {
  list-style: none;
  padding-left:0;
}

ul li {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.card-label {
  font-weight: 700;
}

.card-subheader {
  text-align: center;
  background-color: #9499a4;
  color: #eaeaef;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.weather {
  text-align: center;
  font-style: italic;
}

.delete {
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
  padding-right: 50px;
  padding-bottom: 30px;
  font-size: 20px;
  cursor: pointer;
}

.delete:hover {
  font-style: italic;
  color: #9499a4;
}

/* Add Form */
#add-form-container {
  background-image: url('./assests/background.jpg');
  min-height: 100vh;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  padding: 200px;
}

#add-form {
  text-align: center;
  background: rgba( 255, 255, 255, 0.1 );
  box-shadow: 0 8px 32px 0 rgb(77,98,109, 0.37);
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 10px;
  padding: 100px;
}

.add-container {
  margin-top: 30px;
}

#flights-info, #transportation-info {
  display: flex;
  justify-content: space-around;
}

#outbound-flight, #return-flight, #outbound-transpo, #return-transpo {
  flex-basis: 400px;
}

input {
  display: block;
  width: 100%;
  margin: 10px;
  border: 1px solid #c3c2ca;
  border-radius: 10px;
  padding: 5px;
  font-size: 14px
}

#add-form h6, #add-form h5 {
  font-size: 15px;
  font-family: 'Manrope', sans-serif;
}

#add-form h5 {
  text-decoration: underline;
  font-size: 18px;
}

label {
  font-size: 14px;
  font-style: italic;
}

#submit {
  width: 150px;
  margin: 0 auto;
  background-color: #4d626d;
  border: 2px solid #4d626d;
  color: #eaeaef;
  border-radius: 40px;
  padding: 10px 30px;
  font-weight: 700;
  margin-top: 40px;
}

#submit:hover {
  background-color: transparent;
  border: 2px solid #4d626d;
  color: #4d626d;
}

#submit:active {
  background-color: #eaeaef;
  border: 2px solid #4d626d;
  color: #4d626d;
}
